@import "../bower_components/font-awesome/scss/font-awesome";
// Core variables and mixins
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins";

// Reset and dependencies
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/normalize";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/print";

// Core CSS
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/scaffolding";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/type";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/code";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/grid";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/tables";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/forms";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/buttons";

// Components
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/component-animations";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/dropdowns";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/button-groups";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/input-groups";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/navs";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/navbar";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/breadcrumbs";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/pagination";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/pager";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/labels";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/badges";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/jumbotron";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/thumbnails";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/alerts";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/progress-bars";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/media";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/list-group";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/panels";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/responsive-embed";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/wells";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/close";

// Components w/ JavaScript
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/modals";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/tooltip";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/popovers";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/carousel";

// Utility classes
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/utilities";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/responsive-utilities";

@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "inc/mixin";
@import "inc/generics-px";
@import "inc/basic";
@import "inc/ie-warning";
@import "global";

.lib-panel {
  margin-bottom: 20Px;
}

.lib-panel img {
  width: 100%;
  background-color: transparent;
}

.lib-panel .row,
.lib-panel .col-md-6 {
  padding: 0;
  background-color: #FFFFFF;
}

.lib-panel .lib-row {
  padding: 0 20px 0 20px;
}

.lib-panel .lib-row.lib-header {
  background-color: #FFFFFF;
  font-size: 20px;
  padding: 10px 20px 0 20px;
}

.lib-panel .lib-row.lib-header .lib-header-seperator {
  height: 2px;
  width: 26px;
  background-color: #d9d9d9;
  margin: 7px 0 7px 0;
}

.lib-panel .lib-row.lib-desc {
  position: relative;
  height: 100%;
  display: block;
  font-size: 13px;
}

.lib-panel .lib-row.lib-desc a {
  position: absolute;
  width: 100%;
  bottom: 10px;
  left: 20px;
}

.row-margin-bottom {
  margin-bottom: 20px;
}

.box-shadow {
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, .10);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .10);
}

.no-padding {
  padding: 0;
}


