<table class="table table-bordered">
  <tbody>
  <tr>
    <td><img src="http://lorempixel.com/150/150/?random=" alt="" class="w-100"></td>
    <td><img src="http://lorempixel.com/150/150/?random=" alt="" class="w-100"></td>
    <td><img src="http://lorempixel.com/150/150/?random=" alt="" class="w-100"></td>
    <td><img src="http://lorempixel.com/150/150/?random=" alt="" class="w-100"></td>
    <td><img src="http://lorempixel.com/150/150/?random=" alt="" class="w-100"></td>
    <td><img src="http://lorempixel.com/150/150/?random=" alt="" class="w-100"></td>
  </tr>
  <tr>
    <td><img src="http://img.hidoge.cn/v1.0/photo-600x600.jpg?imageView2/1/w/150/h/150" alt="" class="w-100"></td>
    <td><img src="http://img.hidoge.cn/v1.0/photo-600x600-2.jpg?imageView2/1/w/150/h/150" alt="" class="w-100"></td>
    <td><img src="http://img.hidoge.cn/v1.0/photo-600x600-3.jpg?imageView2/1/w/150/h/150" alt="" class="w-100"></td>
    <td><img src="http://img.hidoge.cn/v1.0/photo-600x600.jpg?imageView2/1/w/150/h/150" alt="" class="w-100"></td>
    <td><img src="http://img.hidoge.cn/v1.0/photo-600x600-2.jpg?imageView2/1/w/150/h/150" alt="" class="w-100"></td>
    <td><img src="http://img.hidoge.cn/v1.0/photo-600x600-3.jpg?imageView2/1/w/150/h/150" alt="" class="w-100"></td>
  </tr>
  </tbody>
</table>