<div class="page_footer p-t-30 p-b-30 text-center">
  <p>Copyright</p>
  <ul class="list-unstyled list-inline">
    <li><a href="">link</a></li>
    <li><a href="">link</a></li>
    <li><a href="">link</a></li>
    <li><a href="">link</a></li>
  </ul>
</div>